extends layout

block content
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/controles.js')
    h1= title
    p Welcome to #{title}
    form(onsubmit='return enviarControl(this)')
        select#cboControles
            each control, i in arrayControles
                option(value=i+1) #{control.nombreControl}

        input#btnSubmit(type="submit" name='btnSubmit' value='Enviar')

