extends layout

block content
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/main.js')
    script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(type='text/javascript', src="http://code.highcharts.com/highcharts.js")
    script(type='text/javascript', src="http://code.highcharts.com/modules/exporting.js")
    h1= title
    p Bienvenido a #{title}
    #divTotales
    #containerBarras(style="min-width: 500px; height: 500px; margin: 0 auto")
    #containerPie(style="min-width: 500px; height: 500px; margin: 0 auto")

//
    form(onsubmit='return enviarMensaje(this)')
        input#userName(type="text" placeholder="Nombre" name='userName')
        input#texto(type="text" placeholder="Texto" name='texto')
        input#btnSubmit(type="submit" name='btnSubmit' value='Enviar')

